<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script>
        document.documentElement.style.fontSize = (window.screen.width / 13.66) + 'px';
        window.onresize = function() {
            document.documentElement.style.fontSize = (window.screen.width / 13.66) + 'px';
        }
    </script>
    <title>Document</title>
    <link rel="stylesheet" href="./css/lib/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./font/iconfont.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body ng-controller="main">
    <!--头部-->
    <div class="top">
        <!--上左-->
        <div class="topLeft">
            <span class="img"></span>
            <span class="con">八维学生考试系统</span>
        </div>
        <!--上右按钮-->
        <div class="topRight" ng-controller="button">
            <div class="btn-group" uib-dropdown is-open="status.isopen">
                <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                    <span class="icon iconfont icon-usered"></span>
                    <span class="user">
                        <span class="hy">欢迎观临</span>
                        </br>
                        <span class="name">孙志中</span>
                    </span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li role="menuitem"><a href="#">个人资料</a></li>
                    <li role="menuitem"><a href="#">退出</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--主体-->
    <div class="bottom">
        <!--左边栏-->
        <div class="left" ng-controller="left">
            <!--下拉菜单-->
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="gengDuo panel-default" heading="{{group.title}}" ng-repeat="group in groups">
                    <ul ng-repeat="val in group.content">
                        <li ui-sref="{{val.url}}" ui-sref-active="act">{{val.con}}</li>
                    </ul>
                </div>
            </uib-accordion>
        </div>
        <!--右边内容-->
        <ui-view class="right">

        </ui-view>
    </div>
</body>
<script src="./js/lib/node_modules/angular/angular.js"></script>
<script src="./js/lib/node_modules/angular-ui-router/release/angular-ui-router.js"></script>
<script src="./js/lib/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
<script src="./js/lib/node_modules/angular-animate/angular-animate.js"></script>
<script src="./bundle/bundle-50c662ee9b.js"></script>

</html>